.normal-link:link {color:#0000FF;}
.normal-link:visited {color:#0000FF;}
.normal-link:hover {color:#0000FF;}
.normal-link:active {color:#0000FF;}

.dialog-normal {
    width: 260px;
    margin: 0 auto;
    padding-top: 10px;
}

[v-cloak] {
    display: none;
}

.preview-image-item {
    float: left;
    margin-left: 10px;
}